.vs/
JumpKing1/x64/Debug/Boss_Room.obj
JumpKing1/x64/Debug/Botao.obj
JumpKing1/x64/Debug/Chefe.obj
JumpKing1/x64/Debug/ControladorDeEventos.obj
JumpKing1/x64/Debug/ControladorDeEventos2.obj
JumpKing1/x64/Debug/Espinhos.obj
JumpKing1/x64/Debug/Fase.obj
JumpKing1/x64/Debug/GerenciadorDeCamera.obj
JumpKing1/x64/Debug/GerenciadorDeColisao.obj
JumpKing1/x64/Debug/GerenciadorGrafico.obj
JumpKing1/x64/Debug/HUD.obj
JumpKing1/x64/Debug/InimigoTipo1.obj
JumpKing1/x64/Debug/InimigoTipo2.obj
JumpKing1/x64/Debug/InimigoTipo3.obj
JumpKing1/x64/Debug/Jogador.obj
JumpKing1/x64/Debug/Jogador2.obj
JumpKing1/x64/Debug/Jogo.obj
JumpKing1/x64/Debug/JumpKing1.exe.recipe
JumpKing1/x64/Debug/JumpKing1.ilk
JumpKing1/x64/Debug/JumpKing1.log
JumpKing1/x64/Debug/JumpKing1.tlog/CL.command.1.tlog
JumpKing1/x64/Debug/JumpKing1.tlog/CL.read.1.tlog
JumpKing1/x64/Debug/JumpKing1.tlog/CL.write.1.tlog
JumpKing1/x64/Debug/JumpKing1.tlog/JumpKing1.lastbuildstate
JumpKing1/x64/Debug/JumpKing1.tlog/link.command.1.tlog
JumpKing1/x64/Debug/JumpKing1.tlog/link.read.1.tlog
JumpKing1/x64/Debug/JumpKing1.tlog/link.write.1.tlog
JumpKing1/x64/Debug/LeaderboardMenu.obj
JumpKing1/x64/Debug/LevelMenu.obj
JumpKing1/x64/Debug/ListaDeEntidades.obj
JumpKing1/x64/Debug/main.obj
JumpKing1/x64/Debug/MainMenu.obj
JumpKing1/x64/Debug/Mapa.obj
JumpKing1/x64/Debug/PauseMenu.obj
JumpKing1/x64/Debug/Projetil.obj
JumpKing1/x64/Debug/SettingsMenu.obj
JumpKing1/x64/Debug/Tile.obj
JumpKing1/x64/Debug/TileMap.obj
JumpKing1/x64/Debug/vc143.idb
JumpKing1/x64/Debug/vc143.pdb
JumpKing1/x64/Debug/Vector2D.obj
x64/Debug/JumpKing1.exe
x64/Debug/JumpKing1.pdb
